<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NHL Regression</title>
  </head>
  <body>
      {% extends 'template.html' %}
      {% block content %}
        <h1> Home </h1>
        <p> The purpose of this app is to use NHL Statistics and Regression analysis to predict future performance based on their performance in the past 3 seasons</p>
        <p> <b>Regression:</b> compare two players using linear regression and view their projected stats </p>
        <p> <b>View Database:</b> quick reference of players by team</p>   
        {% endblock %}
  </body>
</html>