<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NHL Regression</title>
  </head>
   <body>
      {% extends 'template.html' %}
      {% block content %}
        <h1> Query </h1>
        <form action="{{ request.path }}" method="post">
            <label for="name">Full Name (ie. Johnny Gaudreau)</label><br>
            <input type="text" name="name" placeholder="Name"/><br>
            <input type="submit" value="Submit"/>
         </form>
      {% endblock %}
   </body>
</html>