<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NHL Regression</title>
  </head>
   <body>
      {% extends 'template.html' %}
      {% block content %}
        <h1> Query </h1>

      <h3>Results (<a href = "{{ url_for('query') }}">New Query</a>)</h3>
      
      <table class="query_table">
         <thead>
            <tr>
               <th>Name</th>
               <th>Team</th>
               <th>Position</th>
            </tr>
         </thead>
         <tbody>
               <tr>
                  <td>{{ player.full_name }}</td>
                  <td>{{ player.team }}</td>
                  <td>{{ player.pos }}</td>
               </tr>
         </tbody>
      </table>

      <table class="query_table">
            {% if player.pos == "G" %}
            <thead>
               <tr>
                  <th>Year</th>
                  <th>Played</th>
                  <th>Wins</th>
                  <th>Losses</th>
                  <th>GAA</th>
                  <th>SV%</th>
                  <th>Shutouts</th>
               </tr>
            </thead>
   
            <tbody>
                {% for season in player.stats %}
                    <tr>
                        <td>{{ season.year }}</td>
                        <td>{{ season.played }}</td>
                        <td>{{ season.wins }}</td>
                        <td>{{ season.losses }}</td>
                        <td>{{ season.gaa }}</td>
                        <td>{{ season.sv }}</td> 
                        <td>{{ season.shutouts }}</td>
                    </tr>
                {% endfor %}
            </tbody>

      </table>

      <table class="query_table">
            <h3>Projection</h3>
            <thead>
                   <tr>
                     <th>Year</th>
                     <th>Played</th>
                     <th>Wins</th>
                     <th>Losses</th>
                     <th>GAA</th>
                     <th>SV%</th>
                     <th>Shutouts</th>
                   </tr>
                </thead>
       
                <tbody>
            <tr>
                   {% for prediction in predictions %}
                       <td>{{prediction}}</td>
                   {% endfor %}
            </tr>
           </tbody>
            {% else %}
            <thead>
                    <tr>
                       <th>Year</th>
                       <th>Played</th>
                       <th>Goals</th>
                       <th>Assists</th>
                       <th>Points</th>
                       <th>+/-</th>
                       <th>PPP</th>
                       <th>SHP</th>
                       <th>GWG</th>
                       <th>Blocks</th>
                    </tr>
                 </thead>
        
                 <tbody>
                     {% for season in player.stats %}
                         <tr>
                             <td>{{ season.year }}</td>
                             <td>{{ season.played }}</td>
                             <td>{{ season.goals }}</td>
                             <td>{{ season.assists }}</td>
                             <td>{{ season.goals + season.assists }}</td>
                             <td>{{ season.plus_minus }}</td>
                             <td>{{ season.ppp }}</td> 
                             <td>{{ season.shp }}</td>
                             <td>{{ season.gwg }}</td>
                             <td>{{ season.blocks }}</td> 
                         </tr>
                     {% endfor %}
                 </tbody>
      </table>
      <table class="query_table">
                 <h3>Projection</h3>
                 <thead>
                        <tr>
                           <th>Year</th>
                           <th>Played</th>
                           <th>Goals</th>
                           <th>Assists</th>
                           <th>Points</th>
                           <th>+/-</th>
                           <th>PPP</th>
                           <th>SHP</th>
                           <th>GWG</th>
                           <th>Blocks</th>
                        </tr>
                     </thead>
            
                     <tbody>
                 <tr>
                        {% for prediction in predictions %}
                            <td>{{prediction}}</td>
                        {% endfor %}
                 </tr>
                </tbody>
            {% endif %}
         </table>
      {% endblock %}
   </body>
</html>