<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NHL Regression</title>
  </head>
   <body>
      {% extends 'template.html' %}
      {% block content %}
        <h1> View Database </h1>
        <form action="{{ request.path }}" method="post">
            <select type="text" name="team">
               <option disabled selected>Select Team</option>
               {% for team in teams %}
               <option type="text" name={{team.team_name}}>{{team.team_name}}</option>
               {% endfor %}
            </select>
            <input type="submit" value="Submit"/>
         </form>
      {% endblock %}
   </body>
</html>